body {
  	background-repeat: repeat;
  	background-attachment: fixed;
  	background-size: 300%;
}

h3{
	text-align: center;
	padding: 5px 0px 5px 0px;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 3em;
}

h1 {
	padding: 0px 0px 20px 0px;
	font-family: 'Ubuntu', sans-serif;
	color: black;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

p{
	font-family: 'Ubuntu', sans-serif;
	color: black;
	font-size: 1em;
	text-align: justify;
}

b {
	font-weight: bold;
	font-size: 1em;
}

/* Parte do Aluno*/

#imagem_Classe{
	padding: 20px 0px 10px 0px;
	border-radius: 30%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#AlignText{
	text-align: center;
}

#titulo{
	color: white;
}

#coluna-meio{
	width: 60%;
	max-width: 800px;
	margin: 0px auto;
	background: #EDEDED;
	border-radius: 4%;
	font-family: "Oxygen", sans-serif;
	margin-bottom: 3%;
}

#coluna-meio p{
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 20px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

#coluna-meio hr{
	width: 90%;
	margin-bottom: 5px;
	margin-top: 5px;
}

#name{
	padding-top: 20px;
	font-size: 20px;
}

.texto {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Oxygen', sans-serif;
}

.textomain {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}