body {
  	background-repeat: repeat;
  	background-attachment: fixed;
  	background-size: 300%;
}

h1 {
	text-align: center;
	padding: 5px 0px 10px 0px;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 3em;
}

p{
	padding: 5px 0px 10px 0px;
	font-family: 'Ubuntu', sans-serif;
	color: black;
	font-size: 1em;
	text-align: justify;
}

h2 {
	text-align: center;
	padding: 30px 0px 10px 0px;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

h3{
	text-align: center;
	padding: 5px 0px 10px 0px;
	font-family: 'Ubuntu', sans-serif;
	color: black;
	font-size: 3em;
}

/* Parte do Aluno*/

#imagem_Classe{
	padding: 20px 0px 10px 0px;
	border-radius: 30%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#AlignText{
	text-align: center;
}

#titulo{
	color: white;
}

#coluna-meio{
	width: 60%;
	max-width: 800px;
	margin: 0px auto;
	background: #EDEDED;
	border-radius: 4%;
	font-family: "Oxygen", sans-serif;
}

#coluna-meio p{
	line-height: 100%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: -10px;
}

#coluna-meio hr{
	width: 90%;
	margin-bottom: 50px;
	margin-top: 30px;
}

#name{
	font-size: 20px;
}

.texto {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Oxygen', sans-serif;
}

.textomain {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}