body {
  	background-repeat: repeat;
  	background-attachment: fixed;
  	background-size: 100%;
}

h1 {
	text-align: center;
	padding: 20px 0px 5px 0px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 3em;
}

h2 {
	text-align: center;
	padding: 20px 0px 0px 0px;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
}

h3{
	font-family: 'Ubuntu', sans-serif;
	color: black;
	padding: 20px 0px 0px 0px;
	font-size: 26px;
	text-align: center;
}

p{
	padding: 5px 0px 10px 0px;
	font-family: 'Ubuntu', sans-serif;
	color: black;
	font-size: 1em;
	font-style:italic;
	text-align: justify;
}

/*Imagem do Aluno*/

#ImagemAluno {
	float: left;
	padding: 10px 0px 0px 0px;
	border-radius: 50%
}

/* Menu */

#header-background {
	margin: 0px auto;
	height: 100px;
	background: #0049B1;
	max-width: 1600px;
	border-radius: 10%;
}

#header {
	float: right;
	width: 90%;
	max-width: 1900px;
	height: 120px;
	margin: 0px auto;
}

#menuheader{
	float: right;
	width: 70%;
	height: 70px;
	margin-right: 5%;
	overflow: hidden;
}

#menuheader ul {
	float: right;
	margin: 0;
	padding: 30px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	font-family: 'Signika', sans-serif;
	font-size: 1.5rem;
}


#menuheader li {
	float: left;
	padding: 0px;
}

#menuheader a {
	display: inline-block;
	margin-right: 0px;
	padding: 10px 10px 10px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	color: white;
	border: none;
}

/* Coluna Principal*/

#imagem_Classe{
	padding: 20px 0px 10px 0px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 30%
}

#AlignText{
	text-align: center;
}

#tituloW{
	color: white;
	font-size: 2em;
}

#titulo{
	font-size: 2em;
}

#MarginTop{
	text-align: center;
	padding-top: 40px;
}

#MarginBotton{
	text-align: center;
	padding-bottom: 40px;
}

#Marginleft{
	text-align: center;
	padding-left: 20px;
}

#coluna-meio{
	width: 60%;
	max-width: 800px;
	margin: 0px auto;
	background: #EDEDED;
	border-radius: 4%;
	font-family: "Oxygen", sans-serif;
}

#coluna-meio p{
	margin-left: 10%;
	margin-right: 10%;
}

#coluna-meio img{
	max-width: 90%;	
}

/* Parte dos projetos */

#Classes {
	display: block;
    margin: 0px auto;
	overflow: hidden;
	width: 85%;
	max-width: 1300px;
	margin-bottom: 40px;
}

#Classes img {	
	padding: 0px 0px 0px 20px;
}

#coluna1 {
	float: left;
	width: 40%;
	margin-left: 7%;
	margin-right: 6%;
	max-width: 500px;
	background: #EDEDED;
	border-radius: 4%;
}

#coluna1 img{
	width: 60%;
	height: 30%;
	margin-left: 15%;
}

#coluna2 {
	float: right;
	margin-right: 7%;
	width: 40%;
	max-width: 500px;
	background: #EDEDED;
	border-radius: 4%;
}

#coluna2 img{
	width: 60%;
	height: 30%;
	margin-left: 15%;
}

#Classes2 {
	display: block;
    margin: 0px auto;
	overflow: hidden;
	width: 85%;
	max-width: 1300px;
	padding: 50px 0px 30px 0px;
}

#Classes2 img {	
	padding: 0px 0px 0px 20px;
}

#coluna3 {
	float: left;
	width: 40%;
	margin-left: 7%;
	margin-right: 6%;
	max-width: 500px;
	background: #EDEDED;
	border-radius: 4%;
}

#coluna3 img{
	width: 60%;
	height: 30%;
	margin-left: 15%;
}

#coluna4 {
	float: right;
	margin-right: 7%;
	width: 40%;
	max-width: 500px;
	background: #EDEDED;
	border-radius: 4%;
}

#coluna4 img{
	width: 60%;
	height: 30%;
	margin-left: 15%;
}

#Classes3 {
	display: block;
    margin: 0px auto;
	overflow: hidden;
	width: 85%;
	max-width: 1300px;
	padding: 50px 0px 30px 0px;
}

#Classes3 img {	
	padding: 0px 0px 0px 20px;
}

#coluna5 {
	float: left;
	width: 40%;
	margin-left: 7%;
	margin-right: 6%;
	max-width: 500px;
	background: #EDEDED;
	border-radius: 4%;
}

#coluna5 img{
	width: 60%;
	height: 30%;
	margin-left: 15%;
}

#coluna6 {
	float: right;
	margin-right: 7%;
	width: 40%;
	max-width: 500px;
	background: #EDEDED;
	border-radius: 4%;
}

#coluna6 img{
	width: 60%;
	height: 30%;
	margin-left: 15%;
}

.texto {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Oxygen', sans-serif;
}

.textomain {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}

/* Footer */

#footer-background {
	margin: 0px auto;
	height: 100px;
	background: #0049B1;
	max-width: 1600px;
	border-radius: 10%;
}

#footer {
	float: right;
	width: 90%;
	max-width: 1900px;
	height: 120px;
	margin: 0px auto;
}

#footerimg {
	float: left;
	padding: 20px 0px 0px 0px;
}

#menufooter {
	float: right;
	width: 70%;
	height: 70px;
	margin-right: 5%;
	overflow: hidden;
}

#menufooter ul {
	float: right;
	margin: 0;
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	font-family: 'Signika', sans-serif;
	font-size: 1.5rem;
}

#menufooter li {
	float: left;
	padding: 0px;
}

#menufooter a {
	display: inline-block;
	margin-right: 1px;
	padding: 20px 10px 10px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	color: white;
	border: none;
}

/* Botão */
.botao-saibamais{
	text-align: center;
}

.botao-saibamais a {
	display: block;
	float: left;
	width: 30%;
	padding: 10px 5px;
	margin-right: 10px;
	margin-left: 33%;
	margin-bottom: 20px;
	background: #0049B1;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.botao-saibamais span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botao-saibamais span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botao-saibamais:hover span {
  padding-right: 15px;
}

.botao-saibamais:hover span:after {
  opacity: 1;
  right: 0;
}